/*
 * Created by 조휘연 on 2018. 02. 28.
 * Copyright © 2018년 조휘연. All rights reserved.
 *
 * GitHub : https://github.com/hwyncho/
 * e-mail : hwyn.cho@gmail.com
 */

body {
    font-family: "Noto Sans", "Nanum Gothic", sans-serif;
}

div.kwoptlab-mobile {
    display: none !important;
}

div.ui.menu div.header.item {
    font-size: large;
}

div#kwoptlab-menu {
    display: none !important;
}

/* Home */
div#kwoptlab-home {
    background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url("../img/kwangwoon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#kwoptlab-home div.text.container {
    padding-bottom: 30vmin;
    padding-top: 35vmin;
}

div#kwoptlab-home div.row h1 {
    /*
    font-family: 'Bangers';
    letter-spacing: 0.2em;
    */
    font-size: 3em;
}

div#kwoptlab-home div.row h2 {
    font-size: 2em;
}

div.ui.container.kwoptlab-content {
    padding-bottom: 8em;
    padding-top: 8em;
}

div.ui.container.kwoptlab-content h1.ui.horizontal.divider {
    padding-bottom: 4em;
}

/* For Mobile Device */
@media only screen and (max-width: 1199px) {
    div.kwoptlab-pc {
        display: none !important;
    }

    div.kwoptlab-mobile {
        display: flex !important;
    }

    #kwoptlab-home .text.container {
        padding-bottom: 30vmax;
        padding-top: 35vmax;
    }

    #kwoptlab-home .row h1 {
        font-size: 2em;
    }

    #kwoptlab-home .row h2 {
        font-size: 1em;
    }

    div.ui.container.kwoptlab-content h1.ui.horizontal.divider {
        padding-bottom: 3em;
    }
}
